.idea
.vscode
.qodo
Insurance-Claim-Project/backend/backend_app/__pycache__/
Insurance-Claim-Project/backend/backend_app/migrations/
Insurance-Claim-Project/backend/db.sqlite3
Insurance-Claim-Project/frontend/db.sqlite3
Insurance-Claim-Project/frontend/frontend_app/__pycache__/
Insurance-Claim-Project/frontend/frontend_app/migrations/
Insurance-Claim-Project/.idea/
Insurance-Claim-Project/.vscode/
Insurance-Claim-Project/.qodo/
AI-Stuff/William/__pycache__/
AI-Stuff/Yamin/__pycache__/
AI-Stuff/Jack/__pycache__/
AI-Stuff/Vanessa/__pycache__/
AI-Stuff/Muhammad/__pycache__/

# macOS Trash folder (to prevent permission errors)
.Trash/
.Trashes/

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.swn
*.bak
*.tmp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.DS_Store
.env