{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Insurance Claim Predictor{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_claim.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
    <link rel="stylesheet" href="{% static 'css/finance_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/policy.css' %}">
    <link rel="stylesheet" href="{% static 'css/terms.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
<header>
    <h1>Insurance Claim Predictor</h1>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>&copy; 2025 Insurance Claim Predictor</p>
</footer>
</body>
</html>